* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background: #31353c;
}

/* navigation bar styling */
.navigation{
width: 1450px;
height: 50px;
margin-top: 0.5%;
margin-left: 8.5%;
border: 1px solid #000;
background: #26282B;
}

button{
border: none;
background: none;
padding: 0;
margin: 0;
cursor: pointer;
}

.c-button{
display: inline-block;
width: 184px;
height: 48px;
justify-content: center;
margin-left: 8%;
background-color: #26282B;
color: #ecebeb;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: lighter;
line-height: 36px;
}

#disclaimer {
  position: fixed;
  margin-top: 5px;
  margin-left: 22%;
  padding: 15px;
  width: 1000px;
  height: 150px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  text-align: center;
  color: rgb(243, 42, 42);
  font-size: 35px;
}

/* Discount Bar Styles */
.discount-bar{
display: block;
width: 1268px;
height: 295px;
margin-left: 13%;
margin-top: 2%;
background: linear-gradient(90deg, #26282B 35.24%, rgba(72, 73, 74, 0.00) 60.76%, rgba(142, 143, 145, 0.00) 75.87%);
}

.discount{
display: inline-block;
margin: 40px;
margin-right: 190px;
width: 530px;
height: 110px;
color: #FFF;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.discount-button{
display: inline-block;
position: absolute;
left: 15.5%;
margin-top: 12%;
width: 180px;
height: 55px;
border-radius: 40px;
background: #FFF;
box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.50);
justify-content: center;
color: #000;
text-align: center;
font-family: sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.discount-img{
display: inline-block;
position: absolute;
width: 530px;
height: 295px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* Mini Bag Headings */
h2{
height: 50px;
font-weight: 1000;
font-size: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 30px;
color: #FFF;
}

/* Bags Display */
.select-bags{
height: 550px;
padding: 20px;
align-items: center;
}
.scrollable-div{
overflow-x: auto;
overflow-y: hidden;
height: 420px;
margin-top: 1%;
padding: 5px;
}

.display{
white-space: nowrap;
}

.bag{
display: inline-block;
width: 420px;
height: 380px;
margin: 5px;
margin-left: 30px;
background: rgba(236, 236, 236, 0.80);
box-shadow: 0px 0px 10px 5px rgba(177, 177, 177, 0.50);
border-radius: 20px;
}

.display-img{
margin: 0;
display: block;
margin-left: 24%;
margin-top: 2%;
width: 200px;
height: 200px;
object-fit: contain;
background: lightgray 50% / cover no-repeat;
mix-blend-mode: multiply;
}

.display-write{
display: inline-block;
margin-left: 10px;
width: 280px; 
white-space: pre-wrap;
word-wrap: break-word;
overflow-wrap: break-word;
color: #000;
font-family: Calibri;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.currency, .currency1{
  display: inline-block;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #000;
  font-family: Calibri;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.currency1{
  text-decoration: line-through;
}

.display-amount ,.display-amount1{
display: inline-block;
width: 80px;
margin: 0;
white-space: pre-wrap;
word-wrap: break-word;
overflow-wrap: break-word;
color: #000;
font-family: Calibri;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.display-amount1 {
text-decoration: line-through;
}

.display-button{
width: 166px;
display: inline-block;
height: 50px;
border-radius: 50px;
background: #353941;
margin-left: 15px;
margin-right: 105px;
margin-top: 20px;
justify-content: center;
align-items: center;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.display-button:hover{
background: #26282d;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
width: 8px;
height: 3px;
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
background-color: #7e7e7e;
border-radius: 6px;
}




/* Cart page */

.cart-listing {
  width: 1300px;
  margin: 0 auto;
  margin-bottom: 500px;
  background: #2c3036;
  border: 2px solid black;
}

.name-cart{
  text-align: center;
  color: #eee;
  font-family: Calibri;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  padding: 10px;
  border: 0.1px solid rgb(12, 12, 12);
  color: #eee;
  font-family: Calibri;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cart-table th {
  background-color: #eee;
  border: 1px solid #000;
  background: #26282B;
  color: #eee;
  width: 500px;
}

.cart-table td img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.cart-total {
  margin-top: 10px;
  width: 300px;
  text-align: right;
  color: #ffffff;
}

.cart-total h3 {
  font-family: Calibri;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart-total #total-price {
  color: #ffffff;
  font-family: Calibri;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.checkout{
  margin: 2%;
  margin-left: 3%;
  width: 180px;
  height: 55px;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.50);
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.checkout:hover{
    background: #b6b6b6;
}
